@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap");
.galeria {
  min-width: 90px;
  float: left;
  width: 20%;
  background: #7D97A5;
}

.galeria__item {
  vertical-align: middle;
  height: 160px;
}

@media only screen and (max-width: 992px) {
  .galeria__item {
    height: 140px;
  }
}

@media only screen and (max-width: 576px) {
  .galeria__item {
    height: 80px;
  }
}

.galeria__texto {
  background: #7D97A5;
  color: #FFFFFF;
  font-size: 15px;
  padding: 8px 0px;
  text-align: center;
}

.galeria--active {
  background: #7D97A5;
}

.galeria--animacion {
  background: #7D97A5;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.subMenus {
  margin: 0;
  padding: 0;
  top: 25;
  left: 20;
  height: 0;
  width: 16%;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (max-width: 768px) {
  .subMenus {
    display: none;
  }
}

.subMenus__item {
  width: 80%;
  margin: 0px 10px;
  padding: 4px 4px 4px 4px;
  text-decoration: none;
  font-size: 16px;
  font-size: 0.88889rem;
  color: #3a4b53;
  background: #FFFFFF;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.subMenus__item:hover {
  border: 1px solid #3e3e3e;
  border-radius: 4px;
  background: #7D97A5;
}

.subMenus .subMenus__cerrar {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 24px;
  background: #4D636F;
  color: #FFFFFF;
  font-weight: bold;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  background: #f6f8f8;
}

.contenedor {
  width: 80%;
  margin: 10px auto;
}

@media only screen and (max-width: 768px) {
  .contenedor {
    width: 100%;
    margin: 0px auto;
  }
}

header, main, nav, section, article, footer, aside {
  margin: 5px 0;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  font-family: 'Tahoma';
  -webkit-box-shadow: gray 1px 1px 1px 1px;
          box-shadow: gray 1px 1px 1px 1px;
  border-radius: 5px;
  background: #FFFFFF;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

span {
  padding: 0px 5px;
  color: #FFFFFF;
  background: #4D636F;
}

body, span {
  font-family: "Open Sans", sans-serif;
}

.btn {
  font-size: 14px;
  font-size: 0.77778rem;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .btn {
    font-size: 16px;
    font-size: 0.88889rem;
  }
}

@media only screen and (max-width: 992px) {
  .btn {
    font-size: 16px;
    font-size: 0.88889rem;
  }
}

@media only screen and (min-width: 768px) {
  .letra-fondo {
    font-size: 40px;
    font-size: 2.22222rem;
    top: 270px;
    left: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .letra-fondo {
    font-size: 50px;
    font-size: 2.77778rem;
    top: 270px;
    left: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .letra-fondo {
    font-size: 64px;
    font-size: 3.55556rem;
    top: 270px;
    left: 30px;
  }
}

.heading-navegation {
  font-weight: 600;
  font-size: 14px;
  font-size: 0.77778rem;
}

@media only screen and (max-width: 992px) {
  .heading-navegation {
    font-size: 16px;
    font-size: 0.88889rem;
  }
}

.heading-span {
  font-weight: 700;
}

.padding {
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width: 992px) {
  .padding {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.opacity {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.encabezado {
  background: #4D636F;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .encabezado__lista {
    display: none;
  }
}

.encabezado__lista__item {
  float: left;
  width: 80px;
  padding: 2.5px 10px;
  margin: 0px 5px;
  border: 1px solid #3e3e3e;
  border-radius: 4px;
  -webkit-transition: background-color .15s ease-in-out;
  transition: background-color .15s ease-in-out;
}

.encabezado__lista__item:first-child {
  margin: 0px 5px 0px 10px;
}

.encabezado__lista__item:hover {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}

.encabezado__lista__link {
  color: #3a4b53;
}

.encabezado__submenu {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}

.encabezado__submenu__submenu__link {
  float: left;
  color: white;
  text-decoration: none;
}

.encabezado__buscar {
  float: right;
  width: 230px;
  margin: 0px 10px;
  border: 1px solid #3e3e3e;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .encabezado__buscar {
    display: none;
  }
}

.encabezado__buscar__input {
  font-size: 18px;
  font-size: 1rem;
  border: 0;
  padding: 5px 5px;
}

.encabezado__buscar__input:hover {
  outline: none;
  background: #FFFFFF;
}

.encabezado__buscar__input:focus {
  outline: none;
  background: #FFFFFF;
}

.encabezado__buscar__input:active {
  outline: none;
  background: #FFFFFF;
}

.menu {
  background: #4D636F;
}

@media only screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__hamburguesa {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 5px 5px;
}

@media only screen and (min-width: 768px) {
  .menu__hamburguesa {
    display: none;
  }
}

.menu__hamburguesa:hover {
  background: #f6f8f8;
}

.menu__input {
  display: none;
}

.menu__input:checked ~ .menu__lista {
  display: block;
}

.menu__input:checked ~ .menu__buscar {
  display: inline-block;
}

.menu__input:checked ~ .menu__hamburguesa {
  background: #f6f8f8;
}

.menu__lista {
  display: none;
}

.menu__lista__item {
  display: block;
  background: #4D636F;
  padding: 5px 10px;
  border-bottom: 1px solid grey;
}

.menu__lista__item:hover {
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
}

.menu__lista__link {
  background: #4D636F;
  color: #FFFFFF;
}

.menu__buscar {
  background: #f6f8f8;
  width: 220px;
  margin: 0px 10px;
  border: 1px solid #3e3e3e;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .menu__buscar {
    display: none;
  }
}

.menu__buscar__input {
  font-size: 16px;
  font-size: 0.88889rem;
  border: 0;
  background: #f6f8f8;
  padding: 5px 5px;
}

.menu__buscar__input:hover {
  outline: none;
  background: #f6f8f8;
}

.menu__buscar__input:focus {
  outline: none;
  background: #f6f8f8;
}

.menu__buscar__input:active {
  outline: none;
  background: #f6f8f8;
}

.menu__subMenus {
  display: none;
}

.menu__subMenus__item {
  background: #4D636F;
}

.menu__subMenus__item:hover {
  border: 1px solid #3e3e3e;
  border-radius: 4px;
  background: #7D97A5;
}

.menu__subMenus__item:hover .menu__subMenus__link {
  background: #7D97A5;
}

.menu__subMenus__link {
  background: #4D636F;
  color: #FFFFFF;
}

.menu__subMenus__link:hover {
  background: #7D97A5;
}

.navegador {
  min-width: 95px;
  float: left;
  width: 20%;
}

.navegador__titulo {
  color: #3a4b53;
  background: #FFFFFF;
}

@media only screen and (max-width: 768px) {
  .navegador__titulo {
    display: none;
  }
}

.navegador__imagen {
  width: 80%;
  height: auto;
  margin: 10px;
}

.navegador__lista__item {
  display: block;
  padding: 0px 12px;
  background: #FFFFFF;
  -webkit-transition: background-color .15s ease-in-out;
  transition: background-color .15s ease-in-out;
}

@media only screen and (max-width: 576px) {
  .navegador__lista__item {
    text-align: left;
    padding: 0px 5px;
  }
}

.navegador__lista__link {
  display: block;
  margin: 0px 10px;
  padding: 4px 4px 4px 4px;
  font-size: 16px;
  font-size: 0.88889rem;
  color: #3a4b53;
  background: #FFFFFF;
}

.navegador__lista__link:hover {
  border: 1px solid #3e3e3e;
  border-radius: 4px;
  background: #7D97A5;
}

.referencia {
  min-width: 95px;
  float: left;
  width: 20%;
  background: #7D97A5;
}

.referencia__titulo {
  font-size: 18px;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 10px;
  color: #3a4b53;
  background: #7D97A5;
}

.referencia__lista {
  font-size: 16px;
  font-size: 0.88889rem;
  text-align: left;
  margin-left: 10px;
  background: #7D97A5;
}

.referencia__lista__item {
  margin-bottom: 5px;
  background: #7D97A5;
}

.referencia__lista__link {
  color: #FFFFFF;
  background: #7D97A5;
}

.servicios {
  min-width: 95px;
  float: left;
  width: 20%;
}

.servicios__titulo {
  text-align: center;
  margin-bottom: 10px;
  color: #3a4b53;
  background: #FFFFFF;
}

.servicios__lista {
  font-size: 12px;
  font-size: 0.66667rem;
  text-align: left;
  margin: 0px 0px 0px 10px;
  background: #FFFFFF;
}

.servicios__item-1 {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.servicios__item-2 {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.servicios__item-3 {
  -webkit-filter: brightness(140%);
          filter: brightness(140%);
}

.servicios__item-4 {
  -webkit-filter: brightness(160%);
          filter: brightness(160%);
}

.servicios__item-5 {
  -webkit-filter: brightness(180%);
          filter: brightness(180%);
}

.servicios__item-6 {
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
}

.servicios__item-7 {
  -webkit-filter: brightness(135%);
          filter: brightness(135%);
}

.servicios__item-8 {
  -webkit-filter: brightness(155%);
          filter: brightness(155%);
}

.servicios__item-9 {
  -webkit-filter: brightness(175%);
          filter: brightness(175%);
}

.servicios__item-10 {
  -webkit-filter: brightness(75%);
          filter: brightness(75%);
}

.servicios__item-11 {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.iframejs {
  background: #FFFFFF;
}

.principal {
  float: right;
  width: 75%;
  height: auto;
}

.tarjeta {
  overflow: hidden;
  padding: 5px;
  margin: 5px 7.5px 10px 7.5px;
  -webkit-box-shadow: gray 1px 1px 1px 1px;
          box-shadow: gray 1px 1px 1px 1px;
  border-radius: 4px;
  background: #f6f8f8;
}

@media only screen and (min-width: 992px) {
  .tarjeta {
    float: left;
    width: 45%;
  }
}

.tarjeta__titulo {
  margin: 10px auto;
  background: #7D97A5;
  color: white;
  width: 95%;
}

.tarjeta__imagen {
  float: left;
  width: 40%;
  height: auto;
  margin: 5px 10px 0px 5px;
}

.tarjeta__texto {
  font-size: 17px;
  font-size: 0.94444rem;
  margin: 10px auto;
  text-align: justify;
  width: 95%;
  background: #f6f8f8;
}

.tarjeta__boton {
  padding: 0px 0px;
  font-size: 14px;
  font-size: 0.77778rem;
  position: relative;
  float: right;
  margin-right: 2.5%;
  padding: 5px;
  width: 70px;
  border: 1px solid #3e3e3e;
  border-radius: 4px;
  background: #4D636F;
}

.tarjeta__boton:hover {
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
}

.final {
  clear: both;
}

.pie {
  background: #4D636F;
}

.pie__texto {
  color: #FFFFFF;
  background: #4D636F;
}

.brochure {
  background: #f6f8f8;
  margin: 1px;
}

.brochure__encabezado {
  margin: 10px auto;
  background: #7D97A5;
  color: white;
  width: 95%;
}

.brochure__seccion {
  -webkit-column-count: 2;
          column-count: 2;
}

@media only screen and (max-width: 576px) {
  .brochure__seccion {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

.brochure__titulo {
  color: #3a4b53;
  text-align: left;
  margin: 10px;
}

.brochure__descripcion {
  font-size: 18px;
  font-size: 1rem;
  text-align: justify;
  margin: 10px;
}

.brochure__lista {
  text-align: left;
}

.brochure__lista__item {
  font-size: 18px;
  font-size: 1rem;
  margin: 0px 10px;
  list-style-type: circle;
  list-style-position: inside;
}

.brochure__imagen {
  cursor: pointer;
}

.brochure__input {
  padding: 0px 0px;
  font-size: 14px;
  font-size: 0.77778rem;
  padding: 5px;
  width: 100px;
  border: 1px solid #3e3e3e;
  border-radius: 4px;
  background: #4D636F;
  color: #FFFFFF;
}

.brochure__input:hover {
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
}

.brochure__modal {
  display: none;
  /* Hidden by default */
  position: absolute;
  /* Stay in place - fixed*/
  z-index: 1;
  /* Sit on top */
  padding-top: 50px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #7D97A5;
  background-color: rgba(125, 151, 165, 0.9);
  border-radius: 5px;
}

.brochure__modal__imagen {
  margin: auto;
  display: block;
  width: 95%;
  max-width: 700px;
  border-radius: 10px;
}

.brochure__modal__texto {
  margin: 0px auto 50px auto;
  width: 80%;
  display: block;
  max-width: 700px;
  text-align: center;
  background: #4D636F;
  color: #FFFFFF;
  padding: 10px 0;
  height: 20px;
  border-radius: 10px;
}

@media only screen and (max-width: 576px) {
  .brochure__modal__texto {
    margin: 0px 0px 30px 0px;
    width: 100%;
  }
}

.brochure__modal__imagen, .brochure__modal__texto {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.brochure__modal__close {
  background: #4D636F;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.brochure__modal__close:hover, .brochure__modal__close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.imagen--borde {
  border: 2px solid #3e3e3e;
  border-radius: 4px;
}

.imagen--derecha {
  float: right;
}

.texto--centrado {
  text-align: center;
}

.texto--columna {
  -webkit-column-count: 1;
          column-count: 1;
}

.texto--columnas {
  -webkit-column-count: 2;
          column-count: 2;
}

.imagen--sobrepuesta {
  margin: 5px;
  float: left;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media only screen and (max-width: 700px) {
  .brochure__modal__imagen {
    width: 100%;
  }
}

.social {
  min-width: 95px;
  float: left;
  width: 20%;
}

@media only screen and (max-width: 576px) {
  .social {
    font-size: 16px;
    font-size: 0.88889rem;
  }
}

.social__titulo {
  text-align: center;
  margin-bottom: 10px;
  color: #3a4b53;
  background: #FFFFFF;
}

.social__lista__item {
  background: #FFFFFF;
}

.social__lista__link {
  display: inline-block;
  color: #fff;
  background: #000;
  padding: 5px 10px;
  text-decoration: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  /* Establecemos una transición a todas las propiedades */
}

.social__lista__link:hover {
  background: #000;
  padding: 5px 15px;
}

.social--facebook {
  background: #3b5998;
}

.social--twitter {
  background: #00abf0;
}

.social--instagram {
  background: #d95232;
}

.social--mail {
  background: #666666;
}
