@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.contenedor {
  width: 80%;
  margin: 10px auto;
  background-color: #181617;
}

@media only screen and (max-width: 767px) {
  .contenedor {
    width: 100%;
  }
}

.logo__imagen {
  cursor: pointer;
  width: 10%;
  height: auto;
}

@media only screen and (max-width: 767px) {
  .logo__imagen {
    display: none;
  }
}

.encabezado {
  position: absolute;
  top: 30px;
  right: 120px;
}

@media only screen and (max-width: 767px) {
  .encabezado__lista {
    display: none;
  }
}

.encabezado__lista__item {
  display: block;
  float: right;
  padding: 2.5px 10px;
  margin: 0px 5px;
}

.encabezado__lista__link {
  font-size: 20px;
  font-size: 1.11111rem;
  color: #aba735;
}

.encabezado__lista__link:hover {
  -webkit-filter: brightness(175%);
          filter: brightness(175%);
}

.menu {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__hamburguesa {
  background: #f6f8f8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 5px 5px;
}

@media only screen and (min-width: 768px) {
  .menu__hamburguesa {
    display: none;
  }
}

.menu__hamburguesa:hover {
  background: #aba735;
}

.menu__input {
  display: none;
}

.menu__input:checked ~ .menu__lista {
  display: block;
}

.menu__input:checked ~ .menu__buscar {
  display: inline-block;
}

.menu__input:checked ~ .menu__hamburguesa {
  background: #f6f8f8;
}

.menu__lista {
  display: none;
}

.menu__lista__item {
  display: block;
  padding: 5px 10px;
  border-bottom: 1px solid grey;
}

.menu__lista__item:hover {
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
}

.menu__lista__link {
  color: #FFFFFF;
}

.menu__lista__link:hover {
  color: #aba735;
}

.menu__buscar {
  background: #f6f8f8;
  width: 220px;
  margin: 0px 10px;
  border: 1px solid #3e3e3e;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .menu__buscar {
    display: none;
  }
}

.menu__buscar__input {
  font-size: 16px;
  font-size: 0.88889rem;
  border: 0;
  background: #f6f8f8;
  padding: 5px 5px;
}

.menu__buscar__input:hover {
  outline: none;
  background: #f6f8f8;
}

.menu__buscar__input:focus {
  outline: none;
  background: #f6f8f8;
}

.menu__buscar__input:active {
  outline: none;
  background: #f6f8f8;
}

.menu__subMenus {
  display: none;
}

.menu__subMenus__item {
  background: #4D636F;
}

.menu__subMenus__item:hover {
  border: 1px solid #3e3e3e;
  border-radius: 4px;
  background: #7D97A5;
}

.menu__subMenus__item:hover .menu__subMenus__link {
  background: #7D97A5;
}

.menu__subMenus__link {
  background: #4D636F;
  color: #FFFFFF;
}

.menu__subMenus__link:hover {
  background: #7D97A5;
}

.fondo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fondo__imgen {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fondo__informacion {
  position: absolute;
  color: #aba735;
  font-size: 3vw;
  top: 22vw;
  left: 2vw;
}

/* Contenedor Imagenes */
.exposicion {
  max-width: 1000px;
  position: relative;
  margin: auto;
  text-align: center;
}

.exposicion__lista {
  display: none;
}

.exposicion__lista__imagen {
  height: 80%;
  width: 80%;
}

.exposicion__lista__texto {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
}

.exposicion__lista__numero {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  top: 0;
}

.exposicion__anterior, .exposicion__siguiente {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.exposicion__anterior {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.exposicion__anterior:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.exposicion__siguiente {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.exposicion__siguiente:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.puntos {
  text-align: center;
}

.puntos__lista {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.puntos__active, .puntos__lista:hover {
  background-color: #aba735;
}

/* tarjetas */
.tarjetas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(330px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-gap: 20px;
}

.tarjetas__contenido {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content 270px 1fr;
      grid-template-rows: -webkit-max-content 270px 1fr;
      grid-template-rows: max-content 270px 1fr;
  text-align: center;
  color: white;
  background-color: gray;
}

.tarjetas__imagen {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.piepagina__lista {
  text-align: center;
  color: white;
  width: 33%;
  float: left;
}

.piepagina__lista__item {
  display: inline;
}

.piepagina__lista__link {
  display: inline-block;
  color: #fff;
  margin: 10px;
  padding: 15px 10px;
  text-decoration: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  /* Establecemos una transición a todas las propiedades */
}

.contactenos {
  color: #FFFFFF;
}

.contactenos__input {
  padding: 0px 0px;
  font-size: 14px;
  font-size: 0.77778rem;
  padding: 5px;
  width: 100px;
  border: 1px solid #3e3e3e;
  border-radius: 4px;
  background: #aba735;
  color: #FFFFFF;
}

.contactenos__input:hover {
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
}

.texto--centrado {
  text-align: center;
}

.social--facebook--inv:hover {
  background: #3b5998;
}

.social--twitter--inv:hover {
  background: #00abf0;
}

.social--instagram--inv:hover {
  background: #d95232;
}

.social--whatsapp {
  display: block;
  width: 70px;
  height: 70px;
  color: #fff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  z-index: 999;
}
