@import "abstracs/mixins";
@import "abstracs/variables";

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}
ul {
   list-style: none;
}
a {
   text-decoration: none;
}

.contenedor {
   width: 80%;
   margin: 10px auto;
   background-color: #181617; 
}
.logo__imagen {
   width: 10%;
   height: auto;
}
.encabezado {
   position: absolute;
   top: 30px;
   right: 120px;
   &__lista {
      @include pantalla(tablet) {
         display: none;
      }      
      &__item {
         display: block;
         float: right;
         padding: 2.5px 10px;
         margin: 0px 5px;
      }
      &__link {
         @include font-size(20px);
         color: #aba735;
      }
   }
}
.menu {
   @include menor(tablet) {
      display: none;
   }
   background: $colorTitulo;
   &__hamburguesa {
      @include menor(tablet) {
         display: none;
      }
      line-height: 30px;
      display: inline-block;


      box-sizing: border-box;
      user-select: none;
      margin: 5px 5px;
      font-weight: bold;
      text-align: center;
      width: 30px;
      height: 30px;
      border: 1px solid black;
      border-radius: 5px;
      &:hover {
         background: $colorFondo;
      }
   }
   &__input {
      display: none;
      &:checked ~ .menu__lista {
         display: block;
      }
      &:checked ~ .menu__buscar {
         display: inline-block;
      }
      &:checked ~ .menu__hamburguesa {
         background: $colorFondo;
      }
         }
   &__lista {
      display: none;
      &__item {
         display: block;
         background: $colorTitulo;
         padding: 5px 10px;
         border-bottom: 1px solid grey;
         &:hover {
            filter: brightness(125%);
         }
      }
      &__link {
         background: $colorTitulo;
         color: $colorBlanco
      }
   }
   &__buscar {
      @include mayor(tablet) {
         display: none;
      }
      background: $colorFondo;
      width: 220px;
      margin: 0px 10px;
      border: 1px solid $colorBorde;
      border-radius: 4px;
      &__input {
         @include font-size(16px);
         border: 0;
         background: $colorFondo;
         padding: 5px 5px;
         &:hover {
            outline: none;
            background: $colorFondo;
         }
         &:focus {
            outline: none;
            background: $colorFondo;
         }
         &:active {
            outline: none;
            background: $colorFondo;
         }
      }
   }
   &__subMenus {
      display: none;
      &__item {
         background: $colorTitulo;
         &:hover {
            border: 1px solid $colorBorde;
            border-radius: 4px;
            background: $colorTarjeta;
         }
         &:hover .menu__subMenus__link {
            background: $colorTarjeta;
         }
      }
      &__link {
         background: $colorTitulo;
         color: $colorBlanco;
         &:hover {
            background: $colorTarjeta;
         }
      }
   }
}
.fondo{
   position: relative;
   display: flex;
   &__imgen{
      height: 100%;
      width: 100%;
      object-fit: cover;
//   opacity: 0.2;
   }
   &__informacion{
      position: absolute;
      color: #aba735;
      font-size: 3vw;
      top: 22vw;
      left: 2vw;
   }
}
