@import "abstracs/mixins";
@import "abstracs/variables";

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}
ul {
   list-style: none;
}
a {
   text-decoration: none;
   // &:visited, &:link {
   //    color: $colorSisdis;
   // }
}
.contenedor {
   width: 80%;
   margin: 10px auto;
   background-color: #181617; 
   @include pantalla(tablet) {
      width: 100%;
   }      
}
.logo__imagen {
   @include pantalla(tablet) {
      display: none;
   }      
   cursor: pointer;
   width: 10%;
   height: auto;
}
.encabezado {
   position: absolute;
   top: 30px;
   right: 120px;
   &__lista {
      @include pantalla(tablet) {
         display: none;
      }      
      &__item {
         display: block;
         float: right;
         padding: 2.5px 10px;
         margin: 0px 5px;
      }
      &__link {
         @include font-size(20px);
         color: $colorSisdis;
         &:hover {
            filter: brightness(175%);
         }
      }
   }
}
.menu {
   text-align: center;
   @include menor(tablet) {
      display: none;
   }
   &__hamburguesa {
      @include menor(tablet) {
         display: none;
      }
      background: $colorFondo;
      box-sizing: border-box;
      display: inline-block;
      border: 1px solid black;
      border-radius: 5px;
      text-align: center;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-weight: bold;
      user-select: none;
      margin: 5px 5px;
      &:hover {
         background: $colorSisdis;
      }
   }
   &__input {
      display: none;
      &:checked ~ .menu__lista {
         display: block;
      }
      &:checked ~ .menu__buscar {
         display: inline-block;
      }
      &:checked ~ .menu__hamburguesa {
         background: $colorFondo;
      }
   }
   &__lista {
      display: none;
      &__item {
         display: block;
//         background: $colorTitulo;
         padding: 5px 10px;
         border-bottom: 1px solid grey;
         &:hover {
            filter: brightness(125%);
         }
      }
      &__link {
         // background: $colorTitulo;
         color: $colorBlanco;
         &:hover {
            color: $colorSisdis;
         }
      }
   }
   &__buscar {
      @include mayor(tablet) {
         display: none;
      }
      background: $colorFondo;
      width: 220px;
      margin: 0px 10px;
      border: 1px solid $colorBorde;
      border-radius: 4px;
      &__input {
         @include font-size(16px);
         border: 0;
         background: $colorFondo;
         padding: 5px 5px;
         &:hover {
            outline: none;
            background: $colorFondo;
         }
         &:focus {
            outline: none;
            background: $colorFondo;
         }
         &:active {
            outline: none;
            background: $colorFondo;
         }
      }
   }
   &__subMenus {
      display: none;
      &__item {
         background: $colorTitulo;
         &:hover {
            border: 1px solid $colorBorde;
            border-radius: 4px;
            background: $colorTarjeta;
         }
         &:hover .menu__subMenus__link {
            background: $colorTarjeta;
         }
      }
      &__link {
         background: $colorTitulo;
         color: $colorBlanco;
         &:hover {
            background: $colorTarjeta;
         }
      }
   }
}
.fondo{
   position: relative;
   display: flex;
   &__imgen{
      height: 100%;
      width: 100%;
      object-fit: cover;
//   opacity: 0.2;
   }
   &__informacion{
      position: absolute;
      color: $colorSisdis;
      font-size: 3vw;
      top: 22vw;
      left: 2vw;
   }
}
/* Contenedor Imagenes */
.exposicion {
   max-width: 1000px;
   position: relative;
   margin: auto;
   text-align: center;
   &__lista {
      display: none;
      &__imagen {
         height: 80%; 
         width: 80%; 
      }
      &__texto {
         color: #f2f2f2;
         font-size: 15px;
         padding: 8px 12px;
         bottom: 8px;
      }
      &__numero {
         color: #f2f2f2;
         font-size: 12px;
         padding: 8px 12px;
         top: 0;
      }
   }
   &__anterior, &__siguiente {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
   }
   &__anterior {
      left: 0;
      border-radius: 3px 0 0 3px;
      &:hover{
         background-color: rgba(0, 0, 0, 0.8);
      }
   }
   &__siguiente {
      right: 0;
      border-radius: 3px 0 0 3px;
      &:hover{
         background-color: rgba(0, 0, 0, 0.8);
      }
   }
}
.puntos {
   text-align:center;
   &__lista {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
   }
   &__active, &__lista:hover {
      background-color: $colorSisdis;
   }
}
/* tarjetas */
.tarjetas {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
   grid-gap: 20px;
   &__contenido {
      display: grid;
      grid-template-rows: max-content 270px 1fr;
      text-align: center;
      color: white;
      background-color: gray;
   }
   &__imagen {
      object-fit: cover;
      width: 100%;
      height: 100%;
   }
}
.piepagina__lista {
   text-align: center;
   color: $colorBlanco;
   width: 33%;
   float: left;
   &__item{
      display: inline;
   }
   &__link {
      display: inline-block;
      color:#fff;
      margin: 10px;
      padding: 15px 10px;
      text-decoration: none;
      -webkit-transition:all 500ms ease;
      -o-transition:all 500ms ease;
      transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
   }
}
.exhibicion {
   position: relative;
   text-align: center;
   &__lista {
      display: none;
   }
}
.exhibicion__fila {
   display: flex;
   justify-content: center;
   align-items: center;
   &:after {
      content: "";
      display: table;
      clear: both;
   }
}
.exhibicion__columna {
   float: left;
   width: 16.66%;
   &__imagen {
      cursor: pointer;
      opacity: 0.6;
   }
}
.active,
.exhibicion__columna__imagen:hover {
   opacity: 1;
}
.contactenos {
   color: $colorBlanco;
   &__input {
      padding: 0px 0px;
      @include font-size(14px);
      padding: 5px;
      width: 100px;
      border: 1px solid $colorBorde;
      border-radius: 4px;
      background: $colorSisdis;
      color: $colorBlanco;
      &:hover {
         filter: brightness(125%);
      }
   }
}
.texto--centrado{text-align: center;}
.social--facebook--inv {
   background:#3b5998;
   &:hover {
      background: #181617;
   }
} 
.social--twitter--inv {
   background: #00abf0;
   &:hover {
      background: #181617;
   }
}
.social--instagram--inv {
   background: #d95232;
   &:hover {
      background: #181617;
   }
}
.social--whatsapp{
   display:block;
   width:70px;
   height:70px;
   color:#fff;
   position: fixed;
   right:20px;
   bottom:20px;
   border-radius:50%;
   line-height:80px;
   text-align:center;
   z-index:999;
}
