//font size rem

@mixin font-size($size) {
    @if unitless($size) {
        $size: $size * 1px;
    }
    font-size: $size;
    font-size: ($size / $base-font-size) * 1rem;
}

// breakpoints

@mixin mayor($media) {
  $max-width-bp: (map-get($bps, $media) or $media);

  @media only screen and (max-width: $max-width-bp) {
    @content;
  }
}

@mixin menor($media) {
  $min-width-bp: (map-get($bps, $media) or $media);

  @media only screen and (min-width: $min-width-bp) {
    @content;
  }
}