// colors

//$colorFondo: #efefef;
//$colorFondo: #F5F7F8;
$colorFondo: #f6f8f8;
//$colorTitulo: #B7B9B8;
$colorTitulo: #4D636F;
$colorBoton: #3a4b53;
$colorGris: #808080;
$colorBorde: #3e3e3e;
$colorTarjeta: #7D97A5;
$emperor: #515151;

$colorBlanco: #FFFFFF;
$colorNegro: #000;
$color-gray: #999999;

// breakpoints

$bp-mobile: 576px;
$bp-tablet: 768px;
$bp-desktop: 992px;
$bp-huge: 1200px;

$bps: (
    "mobile": $bp-mobile,
    "tablet": $bp-tablet,
    "desktop": $bp-desktop,
    "huge": $bp-huge,
);

//font size rem

$base-font-size: 16px;


// z index

$z-back:-10;
$z-normal:1;
$z-tooltip :10;
$z-fixed:100;
$z-modal:1000;