// colors
$colorFondo: #f6f8f8;
$colorTitulo: #4D636F;
$colorBoton: #3a4b53;
$colorGris: #808080;
$colorBorde: #3e3e3e;
$colorTarjeta: #7D97A5;
$colorSisbac: #aba735;
$colorSisdis: #489221;
$emperor: #515151;

$colorBlanco: #FFFFFF;
$colorNegro: #000;
$color-gray: #999999;

// breakpoints
$bp-pbase: 0px;
$bp-mobile: 576px;
$bp-tablet: 768px;
$bp-desktop: 992px;
$bp-huge: 1200px;

$bps: (
    "pbase": $bp-pbase,
    "mobile": $bp-mobile,
    "tablet": $bp-tablet,
    "desktop": $bp-desktop,
    "huge": $bp-huge,
);

// breakpoints
$breakpoint-xs: 575px;
$breakpoint-sm: 767px;
$breakpoint-md: 1040px;
$breakpoint-lg: 1360px;

//font size rem
$base-font-size: 18px;

// z index
$z-back:-10;
$z-normal:1;
$z-tooltip :10;
$z-fixed:100;
$z-modal:1000;
