.encabezado {
    background: $colorTitulo;
    overflow: hidden;
    &__lista {
        @include mayor(tablet) {
            display: none;
        }
        &__item {
            &:first-child {
                margin: 0px 5px 0px 10px;
            }
            float:left;
            width: 80px;
            padding: 2.5px 10px;
            margin: 0px 5px;
            border: 1px solid $colorBorde;
            border-radius: 4px;
            transition: background-color .15s ease-in-out;
            &:hover {
                filter: brightness(85%);
            }
        }
        &__link {
            color: $colorBoton;
        }
    }

    &__submenu {
        display: none;
        position: absolute;
        left: 0;
        background-color: red;
        width: 100%;
        z-index: 1;

        &__submenu__link {
            float: left;
            color: white;
            text-decoration: none;
        }
    }

    &__buscar {
        @include mayor(tablet) {
            display: none;
        }
        float: right;
        width: 230px;
        margin: 0px 10px;
        border: 1px solid $colorBorde;
        border-radius: 4px;
        &__input {
            @include font-size(18px);
            border: 0;
            padding: 5px 5px;
            &:hover {
                outline: none;
                background: $colorBlanco;
            }
            &:focus {
                outline: none;
                background: $colorBlanco;
            }
            &:active {
                outline: none;
                background: $colorBlanco;
            }
        }
    }
}
.menu {
    @include menor(tablet) {
        display: none;
    }
    background: $colorTitulo;
    &__hamburguesa {
        @include menor(tablet) {
            display: none;
        }
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
        margin: 5px 5px;
        &:hover {
            background: $colorFondo;
        }
    }
    &__input {
        display: none;
        &:checked ~ .menu__lista {
            display: block;
        }
        &:checked ~ .menu__buscar {
            display: inline-block;
        }
        &:checked ~ .menu__hamburguesa {
            background: $colorFondo;
        }
            }
    &__lista {
        display: none;
        &__item {
            display: block;
            background: $colorTitulo;
            padding: 5px 10px;
            border-bottom: 1px solid grey;
            &:hover {
                filter: brightness(125%);
            }
        }
        &__link {
            background: $colorTitulo;
            color: $colorBlanco
        }
    }
    &__buscar {
        @include mayor(tablet) {
            display: none;
        }
        background: $colorFondo;
        width: 220px;
        margin: 0px 10px;
        border: 1px solid $colorBorde;
        border-radius: 4px;
        &__input {
            @include font-size(16px);
            border: 0;
            background: $colorFondo;
            padding: 5px 5px;
            &:hover {
                outline: none;
                background: $colorFondo;
            }
            &:focus {
                outline: none;
                background: $colorFondo;
            }
            &:active {
                outline: none;
                background: $colorFondo;
            }
        }
    }
}
.navegador {
    min-width: 95px; 
    float: left;
    width: 20%;
    &__titulo {
        @include mayor(tablet) {
            display: none;
        }
        color: $colorBoton;
        background: $colorBlanco;
    }
    &__imagen {
        width: 80%;
        height: auto;
        margin: 10px;
    }
    &__lista__item {
        display: block;
        padding: 0px 12px;
        @include mayor(mobile) {
            text-align: left;
            padding: 0px 5px;
        }
        background: $colorBlanco;
        transition: background-color .15s ease-in-out;
    }
    &__lista__link {
        display: block;
        margin: 0px 10px;
        padding: 4px 4px 4px 4px;
        @include font-size(16px);
        color: $colorBoton;
        background: $colorBlanco;
        &:hover {
            border: 1px solid $colorBorde;
            border-radius: 4px;
            background: $colorTarjeta;
        }
    }
}
.referencia {
    min-width: 95px;
    float: left;
    width: 20%;
    background: $colorTarjeta;
    &__titulo {
        @include font-size(18px);
        text-align: center;
        margin-bottom: 10px;
        color: $colorBoton;
        background: $colorTarjeta;
    }
    &__lista {
        @include font-size(16px);
        text-align: left;
        margin-left: 10px;
        background: $colorTarjeta;
        &__item {
            margin-bottom: 5px;
            background: $colorTarjeta;
        }
        &__link {
            color: $colorBlanco;
            background: $colorTarjeta;
        }
    }
}
.servicios {
    min-width: 95px;
    float: left;
    width: 20%;
    &__titulo {
        text-align: center;
        margin-bottom: 10px;
        color: $colorBoton;
        background: $colorBlanco;
    }
    &__lista {
        @include font-size(12px);
        text-align: left;
        margin: 0px 0px 0px 10px;
        background: $colorBlanco;
    }
    &__item-1{
        filter: brightness(100%);
    }
    &__item-2{
        filter: brightness(120%);
    }
    &__item-3{
        filter: brightness(140%);
    }
    &__item-4{
        filter: brightness(160%);
    }
    &__item-5{
        filter: brightness(180%);
    }
    &__item-6{
        filter: brightness(115%);
    }
    &__item-7{
        filter: brightness(135%);
    }
    &__item-8{
        filter: brightness(155%);
    }
    &__item-9{
        filter: brightness(175%);
    }
    &__item-10{
        filter: brightness(75%);
    }
    &__item-11{
        filter: brightness(100%);
    }
}
.iframejs {
    background: $colorBlanco;
}
.principal {
    float: right;
    width: 75%;
    height: auto;
}
.tarjeta {
    overflow: hidden;
    @include menor(desktop) {
        float: left;
        width: 45%;
    }
    padding: 5px;
    margin: 5px 7.5px 10px 7.5px;
    box-shadow: gray 1px 1px 1px 1px;
    border-radius: 4px;
    background: $colorFondo;
    &__titulo {
        margin: 10px auto;
        background: $colorTarjeta;
        color: white;
        width: 95%;
    }
    &__imagen {
        float: left;
        width: 40%;
        height: auto;
        margin: 5px 10px 0px 5px;
    }
    &__texto {
        @include font-size(17px);
        margin: 10px auto;
        text-align: justify;
        width: 95%;
        background: $colorFondo;
    }
    &__boton {
        padding: 0px 0px;
        @include font-size(14px);
        position: relative;
        float: right;
        margin-right: 2.5%;
        padding: 5px;
        width: 70px;
        border: 1px solid $colorBorde;
        border-radius: 4px;
        background: $colorTitulo;
        &:hover {
            filter: brightness(125%);
        }
    }
}
.final {
    clear: both;
}
.pie {
    background: $colorTitulo;
    &__texto {
        color: $colorBlanco;
        background: $colorTitulo;
    }
}
.brochure {
    background: $colorFondo;
    margin: 1px;
    &__encabezado {
        margin: 10px auto;
        background: $colorTarjeta;
        color: white;
        width: 95%;
    }
    &__seccion {
        column-count: 2;
        @include mayor(mobile) {
            column-count: 1;
        }
    }
    &__titulo {
        color: $colorBoton;
        text-align: left;
        margin: 10px;
    }
    &__descripcion {
        @include font-size(18px);
        text-align: justify;
        margin: 10px;
    }
    &__lista {
        text-align: left;
        &__item {
            @include font-size(18px);
            margin: 0px 10px;
            list-style-type: circle;
            list-style-position: inside;
        }
    }
    &__imagen {
        cursor: pointer;
    }
    &__input {
        padding: 0px 0px;
        @include font-size(14px);
        padding: 5px;
        width: 100px;
        border: 1px solid $colorBorde;
        border-radius: 4px;
        background: $colorTitulo;
        color: $colorBlanco;
        &:hover {
            filter: brightness(125%);
        }
    }
    &__modal {
        display: none; /* Hidden by default */
        position: absolute; /* Stay in place - fixed*/
        z-index: 1; /* Sit on top */
        padding-top: 50px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        overflow: auto; /* Enable scroll if needed */
        background-color: $colorTarjeta;
        background-color: rgba($colorTarjeta,0.9);
        border-radius: 5px;
        &__imagen {
            margin: auto;
            display: block;
            width: 95%;
            max-width: 700px;
            border-radius: 10px;
        }
        &__texto {
            margin: 0px auto 50px auto;
            width: 80%;
            @include mayor(mobile) {
                margin: 0px 0px 30px 0px;
                width: 100%;
            }
            display: block;
            max-width: 700px;
            text-align: center;
            background: $colorTitulo;
            color: $colorBlanco;
            padding: 10px 0;
            height: 20px;
            border-radius: 10px;
        }
        &__imagen, &__texto {  
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;
        }
        &__close {
            background: $colorTitulo;
            position: absolute;
            top: 5px;
            right: 5px;
            color: $colorBlanco;
            font-size: 30px;
            font-weight: bold;
            transition: 0.5s;
            &:hover,
            &:focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}
.imagen--borde {border: 2px solid $colorBorde; border-radius: 4px;}
.imagen--derecha {float: right;}
.texto--centrado{text-align: center;}
.texto--columna {column-count: 1;}
.texto--columnas {column-count: 2;}
.imagen--sobrepuesta {margin: 5px; float: left;}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
@media only screen and (max-width: 700px){
    .brochure__modal__imagen {
        width: 100%;
    }
}

.social {
    min-width: 95px;
    @include mayor(mobile) {
        @include font-size(16px);
    }
    float: left;
    width: 20%;
    &__titulo {
        text-align: center;
        margin-bottom: 10px;
        color: $colorBoton;
        background: $colorBlanco;
    }
    &__lista__item {
        background: $colorBlanco;
    }
    &__lista__link {
        display: inline-block;
        color:#fff;
        background: #000;
        padding: 5px 10px;
        text-decoration: none;
        -webkit-transition:all 500ms ease;
        -o-transition:all 500ms ease;
        transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
        &:hover {
            background: #000;
            padding: 5px 15px;
        }
    }
}
.social--facebook {background:#3b5998;} 
.social--twitter {background: #00abf0;}
.social--instagram {background: #d95232;}
.social--mail {background: #666666;}

