.encabezado {
    background: $colorTitulo;
    overflow: hidden;
    &__lista {
        @include mayor(tablet) {
            display: none;
        }
        &__item {
            &:first-child {
                margin: 0px 5px 0px 10px;
            }
            display: block;
            float: left;
            width: 80px;
            padding: 2.5px 10px;
            margin: 0px 5px;
            border: 1px solid $colorBorde;
            border-radius: 4px;
            transition: background-color .15s ease-in-out;
        }
        &__link {
            color: $colorBoton;
        }
    }
    &__buscar {
        @include mayor(tablet) {
            display: none;
        }
        float: right;
        width: 230px;
        margin: 0px 10px;
        border: 1px solid $colorBorde;
        border-radius: 4px;
        &__input {
            @include font-size(18px);
            border: 0;
            padding: 5px 5px;
            &:hover {
                outline: none;
                background: $colorBlanco;
            }
            &:focus {
                outline: none;
                background: $colorBlanco;
            }
            &:active {
                outline: none;
                background: $colorBlanco;
            }
        }
    }
}
.menu {
    @include menor(tablet) {
        display: none;
    }
    background: $colorTitulo;
    &__hamburguesa {
        @include menor(tablet) {
            display: none;
        }
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
        margin: 5px 5px;
        &:hover {
            background: $colorFondo;
        }
    }
    &__input {
        display: none;
        &:checked ~ .menu__lista {
            display: block;
        }
        &:checked ~ .menu__buscar {
            display: inline-block;
        }
        &:checked ~ .menu__hamburguesa {
            background: $colorFondo;
        }
            }
    &__lista {
        display: none;
        &__item {
            display: block;
            background: $colorTitulo;
            padding: 5px 10px;
            border-bottom: 1px solid grey;
            &:hover {
                filter: brightness(125%);
            }
        }
        &__link {
            background: $colorTitulo;
            color: $colorBlanco
        }
    }
    &__buscar {
        @include mayor(tablet) {
            display: none;
        }
        background: $colorFondo;
        width: 220px;
        margin: 0px 10px;
        border: 1px solid $colorBorde;
        border-radius: 4px;
        &__input {
            @include font-size(16px);
            border: 0;
            background: $colorFondo;
            padding: 5px 5px;
            &:hover {
                outline: none;
                background: $colorFondo;
            }
            &:focus {
                outline: none;
                background: $colorFondo;
            }
            &:active {
                outline: none;
                background: $colorFondo;
            }
        }
    }
}
.navegador {
    float: left;
    width: 20%;
    &__titulo {
        @include mayor(tablet) {
            display: none;
        }
        color: $colorBoton;
        background: $colorBlanco;
    }
    &__imagen {
        width: 80%;
        height: auto;
        margin: 10px;
    }
    &__lista__item {
        display: block;
        padding: 3px 12px;
        background: $colorBlanco;
        transition: background-color .15s ease-in-out;
    }
    &__lista__link {
        color: $colorBoton;
        background: $colorBlanco;
    }
}
.referencia {
    float: left;
    width: 20%;
    background: $colorTarjeta;
    &__titulo {
        @include font-size(18px);
        text-align: center;
        margin-bottom: 10px;
        color: $colorBoton;
        background: $colorTarjeta;
    }
    &__lista {
        @include font-size(16px);
        text-align: left;
        margin-left: 10px;
        background: $colorTarjeta;
        &__item {
            margin-bottom: 5px;
            background: $colorTarjeta;
        }
        &__link {
            color: $colorBlanco;
            background: $colorTarjeta;
        }
    }
}
.servicios {
    float: left;
    width: 20%;
    &__titulo {
        text-align: center;
        margin-bottom: 10px;
        color: $colorBoton;
        background: $colorBlanco;
    }
    &__lista {
        @include font-size(12px);
        text-align: left;
        margin: 0px 0px 0px 10px;
        background: $colorBlanco;
    }
    &__item-1{
        filter: brightness(100%);
    }
    &__item-2{
        filter: brightness(120%);
    }
    &__item-3{
        filter: brightness(140%);
    }
    &__item-4{
        filter: brightness(160%);
    }
    &__item-5{
        filter: brightness(180%);
    }
    &__item-6{
        filter: brightness(115%);
    }
    &__item-7{
        filter: brightness(135%);
    }
    &__item-8{
        filter: brightness(155%);
    }
    &__item-9{
        filter: brightness(175%);
    }
    &__item-10{
        filter: brightness(75%);
    }
    &__item-11{
        filter: brightness(100%);
    }
}
.principal {
    float: right;
    width: 75%;
    height: auto;
}
.tarjeta {
    overflow: hidden;
    @include menor(desktop) {
        float: left;
        width: 45%;
    }
    padding: 5px;
    margin: 5px 7.5px 10px 7.5px;
    box-shadow: gray 1px 1px 1px 1px;
    border-radius: 4px;
    background: $colorFondo;
    &__titulo {
        margin: 10px auto;
        background: $colorTarjeta;
        color: white;
        width: 95%;
    }
    &__imagen {
        float: left;
        width: 40%;
        height: auto;
        margin: 5px 10px 0px 5px;
    }
    &__texto {
        @include font-size(18px);
        margin: 10px auto;
        text-align: justify;
        width: 95%;
        background: $colorFondo;
    }
    &__boton {
        padding: 0px 0px;
        @include font-size(14px);
        position: relative;
        float: right;
        margin-right: 2.5%;
        padding: 5px;
        width: 70px;
        border: 1px solid $colorBorde;
        border-radius: 4px;
        background: $colorTitulo;
//        transition: .3s ease all;
        &:hover {
            filter: brightness(125%);
        }
    }
}
.final {
    clear: both;
}
.pie {
    background: $colorTitulo;
    &__texto {
        color: $colorBlanco;
        background: $colorTitulo;
    }
}
.imagen--borde {
    border: 2px solid $colorBorde;
    border-radius: 4px;
}
.iframe1 {
    background: $colorBlanco;
}
.producto {
    background: $colorFondo;
    margin: 1px;
    &__titulo {
        margin: 10px auto;
        background: $colorTarjeta;
        color: white;
        width: 95%;
    }
}
.brochure {
    column-count: 2;
    @include mayor(mobile) {
        column-count: 1;
    }
    &__titulo {
        color: $colorBoton;
        text-align: left;
        margin: 10px;
    }
    &__descripcion {
        @include font-size(18px);
        text-align: justify;
        margin: 10px;
    }
    &__lista {
        text-align: left;
        &__item {
            @include font-size(16px);
            margin: 0px 10px;
            list-style-type: circle;
            list-style-position: inside;
        }
    }
}