*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
   background: $colorFondo;
}
.contenedor {
   width: 80%;
   margin: 10px auto;
}
header, main, nav, section, article, footer, aside{
   margin: 5px 0;
   padding: 10px 0;
   text-align: center;
   font-size: 18px;
   font-family: 'Tahoma';
   box-shadow: gray 1px 1px 1px 1px;
   border-radius: 5px;
   background: $colorBlanco;
}
 ul {
    list-style: none;
}
a {
   text-decoration: none;
}
span {
   padding: 0px 5px;
   color: $colorBlanco;
   background: $colorTitulo;
}
// iframe { 
//    margin:0; 
//    padding:0; 
//    height:100%;
//    display:block; 
//    width:100%; 
//    border:none; 
// }