*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
   background: $colorFondo;
}

body {
   width: 80%;
   margin: 10px auto;
}
header, nav, section, article, footer, aside{
   margin: 5px 0;
   padding: 10px 0;
   text-align: center;
   font-size: 18px;
   font-family: 'Tahoma';
   box-shadow: gray 2px 2px 2px 2px;
   border-radius: 5px;
   background: $colorBlanco;
}
ul {
   list-style: none;
}
a {
   text-decoration: none;
}
span {
   padding: 0px 5px;
   color: $colorBlanco;
   background: $colorTitulo;
}
