@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap");

body, span {
    font-family: "Open Sans", sans-serif;
}

.btn {
    @include font-size(14px);
    font-weight: 600;

    @include mayor(tablet) {
        @include font-size(16px);
    }
    @include mayor(desktop) {
        @include font-size(16px);
    }
}

.heading-primary {
    font-weight: 400;
    @include font-size(20px);
    color: $colorBlanco;

    @include mayor(tablet) {
        @include font-size(30px);
    }

    @include mayor(desktop) {
        @include font-size(40px);
    }

    @include mayor(huge) {
        @include font-size(50px);
    }
}

.heading-navegation {
    font-weight: 600;
    @include font-size(14px);

    @include mayor(desktop) {
        @include font-size(16px);
    }
}

.heading-span {
    font-weight: 700;
}
